@{
    Layout = "~/Views/Layout.cshtml";
    ViewBag.Title = "Store";
}
@model IEnumerable<Wriststone.Models.Table.ProductCategory>

    <div class="list">
        <h2>Categories</h2>
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="/Store/Category/@item.Id">@item.Name</a>
                </li>  
            }
        </ul>
    </div>
