
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layout.cshtml";
}
@model Wriststone.Models.Table.ForumCategory
    <div class="thread">
        <h1>Create thread under category @Model.Name .</h1>
        <form method="post" action="/Forum/Thread">
            <input type="hidden" name="category" value="@Model.Id">
            <input type="text" name="subject" placeholder="Create thread name." required>
            <textarea name="context" rows="5" placeholder="Write a context" required></textarea>
            <input type="submit" value="Create Thread">
            <button type="button" onclick="window.location='/Profile/Category/@Model.Id'">Cancel</button>
        </form>
    </div>

