
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Layout.cshtml";
}

<div class="list">
    <h2>Success!</h2>
    <ul>
        <li>Thanks for purchasing. If you want to continue, please follow this <a href="/">link</a>.</li>
    </ul>
</div>

